.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.png
*.png
python/lib/
python/include/
python/bin/
*.jpg
old/
processed-data/fluke_catch_at_length_fall.csv
src/*.rds
flounderfits.Rdata
results/*.rds

# Andrew added
raw-data/